@use '../util' as *;

.advice {
  position: relative;
  border-radius: rem(15);
  padding-block: rem(44);
  padding-inline: rem(29);
  background-color: var(--dk-gray-blue);
  text-align: center;

  @include breakpoint-up(medium){
    padding-inline: rem(48);
    padding-block: rem(52);
  }

  h1 {
    margin-bottom: rem(35);
    font-size: rem(10);
    text-transform: uppercase;
    letter-spacing: rem(5);
    color: var(--neon-green);

    @include breakpoint-up(medium){
      margin-bottom: rem(37);
      font-size: rem(11);
    }
  }

  q {
    display: block;
    margin-bottom: rem(25);
    font-size: rem(18);
    line-height: rem(30);
    color: var(--lt-cyan);

    @include breakpoint-up(medium){
      margin-bottom: rem(40);
      font-size: rem(23);
    }
  }

  div {
    display: block;
    height: rem(17);
    margin-bottom: rem(20);
    background-image: url('../images/pattern-divider-mobile.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: var(--gray-blue);

    @include breakpoint-up(medium){
      background-image: url('../images/pattern-divider-desktop.svg');
      height: rem(18);
    }
  }

  button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: rem(66);
    width: rem(66);
    border: 0;
    border-radius: 50%;
    background-color: var(--neon-green);
    background-image: url('../images/icon-dice.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: rem(26) rem(26);
    transition: box-shadow 300ms ease-in-out;
    cursor: pointer;
  }

  button:hover{
    box-shadow: 0 rem(1) rem(20) var(--neon-green);
  }
}